@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Comfortaa:wght@300..700&display=swap');
 /* Importa la fuente Comfortaa desde Google Fonts */
 
body {
  font-family: 'Comfortaa', 'amarante'; /* Aplica la fuente Comfortaa */
  background-color: #A0DFDC; /* Color de fondo general */
  margin: 0;
  padding: 0;
}

header {
  background-color: #F19C99; /* Color rosa del encabezado */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 80px;
  border-radius: 39px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 24px;
}

.logo2 a img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.form-section, .card-custom { 
  background-color: #F19C99; /* Fondo rosa */
  border-radius: 100px; /* Bordes redondeados */
  border: 1px solid black;
  padding: 20px; /* Espacio interno */

}
.form-section h2{
  color: black;
  font-size: 2em;
  margin-bottom: 20px;
}

.btn-dark:hover {
  background-color: #312e2e;
  color: white;
}
.btn-dark {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 80px;
}
 